<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Entrar - Notegeli</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>

<div class="login-box">
    <img src="{{ url_for('static', filename='logogeli.png') }}" class="login-logo-big">
    
    <h3 class="login-title">Notegeli</h3>

    <form method="POST" class="login-form">
        <input type="text" name="usuario" placeholder="Usuario" class="login-input">
        <input type="password" name="password" placeholder="Contraseña" class="login-input">
        <button type="submit" class="btn-amber login-btn">Entrar</button>
    </form>
</div>

</body>
</html>
